[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-telegram-bot = "*"
uvicorn = "*"
transformers = "*"
spacy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
python-dotenv = "*"
pytest = "*"
httpx = "*"
langdetect = "*"
prometheus-client = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.12"
